.squid-show {
  @apply w-4/5 max-w-2xl;
  @apply mx-auto my-8 px-4 py-3;
  @apply border-2 rounded-lg;
  @apply bg-blue-50;

  & .squid-show__header,
  & .squid-show__subheader,
  & .squid-show__attribute {
    @apply p-1;
  }

  & .squid-show__header {
    @apply text-center text-xl font-bold;
  }
  & .squid-show__subheader {
    @apply text-center text-lg font-semibold;
  }

  & .squid-show__zodiac-list {
    @apply mx-8;
  }
  & .squid-show__zodiac-sign {
    @apply font-semibold;
  }
}
