.squid-table__footer {
  @apply text-center;

  & .squid-table__footer-button {
    @apply px-2;
    @apply text-xs text-gray-500;
    @apply hover:text-black hover:font-bold hover:cursor-pointer;
  }

  & .squid-table__footer-select {
    @apply border-none outline-none;
    @apply text-sm text-gray-500;
    @apply hover:text-black hover:font-bold hover:cursor-pointer;
  }
}
