.squid-table {
  @apply m-8;
  @apply grid grid-cols-4;

  & .squid-table__header {
    @apply p-2;
    @apply font-bold;
    @apply text-center;
    @apply bg-blue-50;
    @apply border-b-2;
  }

  & .squid-table__square {
    @apply p-2;
    @apply text-center;
  }

  & .squid-table__square--blue {
    @apply bg-blue-50;
  }
}
